/* Include section */


/* OSwald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Courier Prime */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');





/* Code */
* {
    
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}

body{

}

footer {
    background-color: #000;
    
}

#background {
    width: 100%;
    height: 100%;
    background-color: #000;

}


nav {
    display: inline;
    max-height: 3em; 
    position: fixed;
    text-align: right;
}

nav ul li:first-child {
    left: 2em;
}

#menu {
    list-style-type: none;
    padding: 0;
    color: white;
    display: flex;
    font-family: "Courier Prime";
    font-size: x-large;
}

#menu li{
    display: inline;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}


#menu .menu-item:hover {
    cursor: pointer;
    text-shadow: 0 0 3px white; 
}

#menu-logo {
    width: 45%;
    text-align: center;

}

#menu li a {
    display: inline-block;

}

#container {
    text-align: center;
    padding: 15em 0px 0px 0px;
    margin: 0;
    width: 100%;
    height: 100%;
    
}

#lang-text {
    padding-bottom: 6em;
    font-family: 'Courier Prime';
}

#button-canva{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

#lang-text, h2{
    color: #fff;
}

.lang-choice {
    width: 30%;
    height: 4em;
    margin: 0;
    border-radius: 16px;
    background-color: #000; 
    color: #eee;
}

.lang-choice:hover {
    background-color: #555;
    cursor: pointer;
    color: #000;
}

.logo-font {
    font-family: 'Courier Prime';
    font-weight: 700;
    font-size:x-large;
}