/* Include section */


/* OSwald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Courier Prime */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');





/* Code */

/* Background */

* {
    
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: 100%;
    z-index: 1;
}

#back{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    animation-duration: 5000ms;
    
}

@keyframes back {
    0% {
        width: 100%;
        height: 100%;
        background: linear-gradient(
            15deg,
            #444,
            #000
            );
    }
    100%{
        width: 100%;
        height: 100%;
        background-color: linear-gradient(
            15deg,
            #000,
            #444
        );
    }
}

footer {
    background-color: #000;
    background: linear-gradient()
}

/* NavBar */

nav {
    display: inline;
    max-height: 3em; 
    position: fixed;
    text-align: center;
    background-color: #000;
    width: 100%;
    padding: auto;
}

/* Body of the Page */

main {
    width: 100%;
    height: 100%;
}

#menu {

    padding: 0;
    color: #eee;
    display: flex;
    font-family: "Courier Prime";
    font-size: x-large;
    list-style-type: none;
}

#menu li{
    display: inline;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}


#menu .menu-item:hover {
    cursor: pointer;
    text-shadow: 0 0 3px #fff; 
}

#menu-logo {
    width: 45%;
    text-align: center;

}

#menu li a {
    display: inline-block;

}

#container {
    text-align: center;
    padding: 15em 0px 0px 0px;
    margin: 0;
    width: 100%;
    height: 100%;
    
}

#lang-text {
    padding-bottom: 6em;
    font-family: 'Courier Prime';
}

#button-canva{
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 3em;
}

a {
    text-decoration: none;
    color: #eee;
}

#lang-text, h2{
    color: #eee;
}

.lang-choice {
    width: 30%;
    height: 4em;
    margin: 0;
    border: 0;
    border-radius: 16px;
    background-color: #000; 
    color: #eee;
}

.lang-choice:hover {
    background-color: #555;
    cursor: pointer;
    font-weight: 700;
}

.lang-choice:hover a {
    color: #111;
}

.logo-font {
    font-family: 'Courier Prime';
    font-weight: 700;
    font-size:x-large;
}